In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
dframe

         date variable     value
0  2000-01-03        A  0.256756
1  2000-01-04        A -1.415563
2  2000-01-05        A  0.163396
3  2000-01-03        B -1.693040
4  2000-01-04        B -0.272334
5  2000-01-05        B  0.018974
6  2000-01-03        C  1.374827
7  2000-01-04        C -0.067656
8  2000-01-05        C -0.026422
9  2000-01-03        D  0.963324
10 2000-01-04        D  0.850781
11 2000-01-05        D  0.241962

In [5]:
dframe_piv = dframe.pivot('date','variable','value')

dframe_piv

variable           A         B         C         D
date
2000-01-03  0.256756 -1.693040  1.374827  0.963324
2000-01-04 -1.415563 -0.272334 -0.067656  0.850781
2000-01-05  0.163396  0.018974 -0.026422  0.241962