In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [2]:
#Creating a series
ser1= Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
#Reindexes ser1 using values given
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
#Fills new index with 0

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
#Create new series
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)
ranger
#list of 15 values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
ser3.reindex(ranger,method='ffill')
#Fills forward until a new value is found

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'] )
dframe
#DataFrame with 25 numbers that is 5X5
#Indexes are A-F skipping C
#Columns are col1-col5

       col1      col2      col3      col4      col5
A  2.993700  0.183807 -0.281351 -0.434163  0.959316
B  2.320796  1.269393  0.198519  1.370118 -0.105487
D  0.058933 -0.279264  0.132019  1.055184  1.295809
E -0.163417  0.212484 -0.261461 -0.178389  0.844664
F -0.428712  0.097161 -0.102281  0.134826  0.238063

In [11]:
#Adds C as an index value
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  2.993700  0.183807 -0.281351 -0.434163  0.959316
B  2.320796  1.269393  0.198519  1.370118 -0.105487
C       NaN       NaN       NaN       NaN       NaN
D  0.058933 -0.279264  0.132019  1.055184  1.295809
E -0.163417  0.212484 -0.261461 -0.178389  0.844664
F -0.428712  0.097161 -0.102281  0.134826  0.238063

In [12]:
#Reindexing columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  2.993700  0.183807 -0.281351 -0.434163  0.959316   NaN
B  2.320796  1.269393  0.198519  1.370118 -0.105487   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.058933 -0.279264  0.132019  1.055184  1.295809   NaN
E -0.163417  0.212484 -0.261461 -0.178389  0.844664   NaN
F -0.428712  0.097161 -0.102281  0.134826  0.238063   NaN

In [13]:
#Use .ix to reindex faster
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  2.993700  0.183807 -0.281351 -0.434163  0.959316   NaN
B  2.320796  1.269393  0.198519  1.370118 -0.105487   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.058933 -0.279264  0.132019  1.055184  1.295809   NaN
E -0.163417  0.212484 -0.261461 -0.178389  0.844664   NaN
F -0.428712  0.097161 -0.102281  0.134826  0.238063   NaN