In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [3]:
data = Series(['one','two',np.nan,'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [6]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2   7 NaN   9
3 NaN NaN NaN

In [7]:
clean_dframe = dframe.dropna()
clean_dframe

   0  1  2
0  1  2  3

In [8]:
dframe.dropna(how='all')

    0   1  2
0   1   2  3
1 NaN   5  6
2   7 NaN  9

In [10]:
dframe.dropna(axis=1)
#drops columns with any null values

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [11]:
npn = np.nan
dframe2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [12]:
dframe2.dropna(thresh=2)
#Dropping any rows tht dont have at least 2 data points

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9

In [13]:
dframe2.dropna(thresh=3)

   0   1  2   3
0  1   2  3 NaN
1  2 NaN  5   6

In [14]:
dframe.fillna(1)
#fill null values with 1

   0  1  2
0  1  2  3
1  1  5  6
2  7  1  9
3  1  1  1

In [15]:
dframe2.fillna({0:0,1:1,2:2,3:3})
#fills null values specific to columns

   0  1  2  3
0  1  2  3  3
1  2  1  5  6
2  0  7  2  9
3  1  1  2  3

In [17]:
dframe2.fillna(0,inplace=True)
dframe2

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0